<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>mvc01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- #18. web.xml -->
  
  
  
  <!-- ※ Spring MVC Framework 관련 설정
  		  → Front Controller 등록
  		  → DispatcherServlet 객체 등록 -->
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  
  <!-- 필터 : 나갈때나 들어올 때 이 필터를 한 번 거쳐서 오도록한다.
				단순히 어떤 데이터를 여과해서 막는 것 뿐 아니라
				통일성을 가지고 뭔가를 변형시키는 것도 필터 이용한다.
				예를 들면 필터를 통해 외국어가 다 한국어로 번역돼서 들어오도록. -->
				
				
	<!-- check~!! -->
	<!-- 필터 등록 → 인코딩 필터 등록 → CharacterEncodingFilter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		
		<!-- 필터 설정 → 필터에 파라미터 초기값 지정 -->
		<init-param>
			<param-name>encoding</param-name><!-- CharacterEncodingFilter가 가지고 있는 속성값 -->
			<param-value>UTF-8</param-value>
		</init-param>
		
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app>